extends ../../layouts/default

block css
    link(rel="stylesheet", href="/css/blog.css")

block main
    .container.blog-detail-container
        if blog
            h1.blog-detail-title #{blog.title}

            .blog-detail-meta
                span
                    i.fa-solid.fa-calendar-days
                    | #{blog.createdAt.toLocaleDateString('vi-VN')}

            img.blog-detail-thumbnail(src=blog.thumbnail alt=blog.title)

            .blog-detail-content !{blog.content}

            a.back-btn(href="/blog")  Quay lại Blog

        else
            h3 Bài viết không tồn tại!
            a.back-btn(href="/blog")  Quay lại Blog
