extends ../../layouts/default

block main
    .container.mt-4
        h2.mb-4 Tin tức & Blog

        .row
            each item in blogs
                .col-md-4.mb-4
                    .card.blog-card
                        img.card-img-top(src=item.thumbnail alt=item.title)
                        .card-body
                            h5.card-title #{item.title}
                            p.card-text #{item.content.substring(0, 120)}...
                            a.btn.btn-primary(href=`/blog/${item.slug}`) Đọc thêm →
