extends ../../layouts/default.pug

block main
    // ----- SLIDER -----
    .slider
        .slides
            img(src="/images/slider1.jpg", alt="Slide 1")
            img(src="/images/slider2.jpg", alt="Slide 2")
            img(src="/images/slider3.jpg", alt="Slide 3")
        .dots

    // ----- SẢN PHẨM TẠI Verdish -----
    section.products-section
        .container
            h2.products-title Sản phẩm tại Verdish

            .products-tabs
                button.products-tab.active(type="button" data-filter="best") Bán chạy nhất
                button.products-tab(type="button" data-filter="new") Hàng mới về
                button.products-tab(type="button" data-filter="top") Đánh giá cao

            .products-list
                if productsHome && productsHome.length
                    each product, index in productsHome
                        - const catTab = index % 3 === 0 ? 'best' : (index % 3 === 1 ? 'new' : 'top');
                        .product-card(data-category=catTab)
                            .product-card-image
                                if product.thumbnail
                                    img(src=product.thumbnail, alt=product.title || product.name || 'Sản phẩm')
                                else
                                    img(src="/images/logo.svg", alt=product.title || product.name || 'Sản phẩm')
                            .product-card-body
                                h3.product-card-name= product.title || product.name || 'Chưa có tên'
                                if product.newPrice
                                    p.product-card-price #{Number(product.newPrice).toLocaleString('vi-VN')}đ
                                else if product.price
                                    p.product-card-price #{Number(product.price).toLocaleString('vi-VN')}đ
                else
                    p.text-muted.text-center Chưa có sản phẩm nào.

            .products-more
                a.products-more-btn(href="/products") Xem thêm sản phẩm →

    // ----- BLOG & FANPAGE -----
    section.home-blog-fanpage
        .container
            .home-bf-wrapper
                // ----- CARD BLOG -----
                .bf-card.bf-card-blog
                    h2.bf-title Blog

                    .bf-blog-list
                        // Item 1
                        .bf-blog-item
                            .bf-blog-thumb
                                span.bf-blog-thumb-text HƯỚNG DẪN\nMUA HÀNG
                            .bf-blog-info
                                span.bf-blog-date 04/08/2022
                                p.bf-blog-desc hướng dẫn mua hàng và thanh toán

                        // Item 2
                        .bf-blog-item
                            .bf-blog-thumb
                                span.bf-blog-thumb-text CHÍNH SÁCH\nVẬN CHUYỂN\nVÀ\nGIAO NHẬN
                            .bf-blog-info
                                span.bf-blog-date 23/07/2022
                                p.bf-blog-desc chính sách vận chuyển và giao nhận

                        // Item 3
                        .bf-blog-item
                            .bf-blog-thumb
                                span.bf-blog-thumb-text CHÍNH SÁCH\nVÀ\nQUY ĐỊNH\nCHUNG
                            .bf-blog-info
                                span.bf-blog-date 23/07/2022
                                p.bf-blog-desc chính sách và quy định chung

                    a.bf-btn(href="/blog")
                        span Xem thêm
                        span.bf-btn-arrow →
                
                // ----- CARD FANPAGE -----
                .bf-card.bf-card-fanpage
                    h2.bf-title Fanpage

                    .bf-fan-cover
                        img(src="/images/slider1.jpg", alt="Fanpage Verdish")

                    .bf-fan-content
                        h3.bf-fan-name Verdish
                        p.bf-fan-desc Cập nhật ưu đãi & bí quyết sống xanh mỗi ngày.

                        a.bf-btn(href="https://facebook.com" target="_blank")
                            span Ghé Fanpage
                            span.bf-btn-arrow →

    // ----- TẠI SAO NÊN LÀ VERDISH -----
    section.why-section
        .container
            h2.why-title TẠI SAO NÊN LÀ VERDISH

            .why-cards
                .why-card
                    .why-icon
                        i.fa-solid.fa-id-card
                    p.why-text
                        | THÀNH VIÊN KIM CƯƠNG SẼ ĐƯỢC GIẢM 7% / ĐƠN HÀNG.
                        br
                        | THÀNH VIÊN VÀNG SẼ ĐƯỢC GIẢM 5% / ĐƠN HÀNG.
                        br
                        | THÀNH VIÊN BẠC SẼ ĐƯỢC GIẢM 3% / ĐƠN HÀNG.

                .why-card
                    .why-icon
                        i.fa-solid.fa-truck-fast
                    p.why-text
                        | FREE SHIP TOÀN QUỐC KHI MUA SẢN PHẨM FULLSEAL
                        br
                        | HOẶC TỪ 2 SẢN PHẨM CHIẾT.

                .why-card
                    .why-icon
                        i.fa-solid.fa-award
                    p.why-text
                        | SẢN PHẨM NƯỚC HOA ĐƯỢC MUA TRỰC TIẾP TẠI CÁC STORE
                        br
                        | Ở NƯỚC NGOÀI HOẶC LÀM VIỆC TRỰC TIẾP VỚI CÁC HÃNG,
                        br
                        | CAM KẾT AUTHENTIC 100%.

    // ----- CÁC ĐỊA CHỈ MUA HÀNG -----
    section.shop-address-section
        .container
            h2.shop-address-title Các địa chỉ mua hàng

            .shop-address-wrapper
                // Card TikTok
                .shop-card.shop-tiktok
                    .shop-badge
                        span.shop-badge-text TikTok
                    .shop-cover
                        img(src="/images/slider1.jpg", alt="TikTok store")
                    h3.shop-name tiktok
                    a.shop-btn(href="#" target="_blank")
                        span Mua hàng ngay
                        span.shop-btn-arrow →

                // Card Instagram
                .shop-card.shop-instagram
                    .shop-badge
                        span.shop-badge-text Instagram
                    .shop-cover
                        img(src="/images/slider2.jpg", alt="Instagram store")
                    h3.shop-name Instagram
                    a.shop-btn(href="#" target="_blank")
                        span Mua hàng ngay
                        span.shop-btn-arrow →

                // Card Facebook
                .shop-card.shop-facebook
                    .shop-badge
                        span.shop-badge-text Facebook
                    .shop-cover
                        img(src="/images/slider3.jpg", alt="Facebook store")
                    h3.shop-name facebook
                    a.shop-btn(href="#" target="_blank")
                        span Mua hàng ngay
                        span.shop-btn-arrow →

block scripts
    script(src="/js/home.products.js")
    script(src="/js/slider.js")
