extends ../../layouts/default.pug
include ../../mixins/alert.pug

block main 
    +alert-success(3000)
    +alert-error(5000)

    h1.mb-4 #{pageTitle}

    form(action=`${prefixAdmin}/products/edit/${product.id}?_method=PATCH` method="POST" id='form-edit-product' enctype="multipart/form-data")
        .form-group.mb-3
            label.form-label(for="title") Tiêu đề sản phẩm
            input.form-control(type="text" id="title" name="title" required value=product.title)

        .form-group.mb-3
            label.form-label(for="desc") Mô tả sản phẩm
            textarea.form-control(id="desc" name="description" rows="5" required) #{product.description}

        .form-group.mb-3
            label.form-label(for="price") Giá sản phẩm
            input.form-control(type="number" id="price" name="price" min="0" value=product.price)

        .form-group.mb-3
            label.form-label(for="discount") % Giảm giá
            input.form-control(type="number" id="discount" name="discountPercentage" min="0" value=product.discountPercentage)

        .form-group.mb-3
            label.form-label(for="stock") Số lượng sản phẩm
            input.form-control(type="number" id="stock" name="stock" min="0" value=product.stock)

        .form-group.mb-3(upload-image='')
            label.form-label(for="thumbnail") Hình ảnh sản phẩm
            input.form-control(type="file" id="thumbnail" name="thumbnail" accept="image/*" upload-image-input='') 
            input(type="hidden" name="removeThumbnail" value="0" upload-image-remove-flag='')
            .image-preview-wrapper
                img(src=product.thumbnail data-old=product.thumbnail upload-image-preview='')
                button(
                    type='button' 
                    upload-image-remove='' 
                    aria-label='Close'
                ) x

        .form-group.mb-3
            label.form-label(for="position") Vị trí
            input.form-control(type="number" id="position" name="position" placeholder="Tự động tăng" min="1" value=product.position)

        .form-group.mb-3.form-check.form-check-inline
            input.form-check-input(
                type="radio"
                id="status-active"
                name="status"
                value="active"
                checked=(product.status === 'active' ? true : false)
            )
            label.form-check-label(for="status-active") Hoạt động
        .form-group.mb-3.form-check.form-check-inline
            input.form-check-input( 
                type="radio"
                id="status-inactive"
                name="status"
                value="inactive"
                checked=(product.status === 'inactive' ? true : false)
            )
            label.form-check-label(for="status-inactive") Dừng hoạt động

        .form-group
            button.btn.btn-primary(type="submit") Cập nhật

    script(src="/admin/js/product.js") 