extends ../../layouts/default.pug
include ../../mixins/filter-status.pug
include ../../mixins/search.pug
include ../../mixins/pagination.pug
include ../../mixins/form-change-multi.pug
include ../../mixins/alert.pug
include ../../mixins/sort.pug

block main
    +alert-success(3000)
    +alert-error(5000)

    h1.mb-4 #{pageTitle}

    .card.mb-3
        .card-header Bộ lọc và Tìm kiếm
        .card-body
            .row
                .col-md-6.mb-2
                    +filter-status(filterStatus)
                .col-md-6
                    +search(keyword)

    .card.mb-3
        .card-header Sắp xếp
        .card-body
            +sort()

    .card.mb-3
        .card-header Danh sách sản phẩm
        .card-body
            .row.mb-3
                .col-8
                    +form-change-multi(`${prefixAdmin}/products/change-multi?_method=PATCH`)
                .col-4.text-end
                    a.btn.btn-outline-success(
                        href=`${prefixAdmin}/products/create`
                    ) + Thêm sản phẩm mới

            table.table.table-hover.table-sm(checkbox-multi='')
                thead
                    tr  
                        th 
                            input(type="checkbox" name="check-all")
                        th STT
                        th Hình ảnh
                        th Tiêu đề
                        th Giá
                        th Vị trí
                        th Trạng thái
                        th Hành động
                tbody
                    each item, index in products
                        tr
                            td 
                                input(type="checkbox" name="id" value=item.id)
                            td #{(pagination.currentPage - 1) * pagination.limitItems + index + 1}
                            td
                                img.img-fluid(
                                    src=item.thumbnail
                                    alt=item.title
                                    style="max-width: 100px;"
                                )
                            td #{item.title}
                            td $#{item.price}
                            td
                                input(
                                    type="number"
                                    name="position"
                                    value=item.position
                                    class="form-control form-control-sm"
                                    style="width: 70px;"
                                    min="1"
                                )
                            td
                                if item.status == 'active'
                                    a.badge.bg-success(
                                        href="#"
                                        data-id=item.id
                                        data-status=item.status
                                        data-btn-change-status=''
                                        style="min-width: 120px; text-decoration: none;"
                                    ) Hoạt động
                                else
                                    a.badge.bg-danger(
                                        href="#"
                                        data-id=item.id
                                        data-status=item.status
                                        data-btn-change-status=''
                                        style="min-width: 120px; text-decoration: none;"
                                    ) Dừng hoạt động

                            td
                                a(href=`${prefixAdmin}/products/detail/${item.id}`).btn.btn-secondary.btn-sm.me-1 Chi tiết
                                a(href=`${prefixAdmin}/products/edit/${item.id}`).btn.btn-warning.btn-sm Sửa
                                button.btn.btn-danger.btn-sm.ms-1(
                                    data-id=item.id 
                                    data-btn-delete=''
                                ) Xóa

    +pagination(pagination)

    form(
        action=""
        method="POST"
        id="form-change-status"
        data-path=`${prefixAdmin}/products/change-status`
    ) 

    form(
        action=""
        method="POST"
        id="form-delete-product"
        data-path=`${prefixAdmin}/products/delete-product`
    ) 

    script(src='/admin/js/product.js')
