extends ../../layouts/default.pug
include ../../mixins/alert.pug

block main
    +alert-success(3000)
    +alert-error(5000)

    .container.mt-4
        h2 Quản lý Blog
        a.btn.btn-primary(href="/admin/blog/create") + Thêm bài viết

        table.table.table-bordered.mt-4
            thead
                tr
                    th Tiêu đề
                    th Ảnh
                    th Ngày đăng
                    th Hành động
            tbody
                each item in blogs
                    tr
                        td #{item.title}
                        td 
                            img(src=item.thumbnail, style="width:80px")
                        td #{item.createdAt.toLocaleDateString()}
                        td
                            a.btn.btn-warning(href=`/admin/blog/edit/${item._id}`) Sửa
                            a.btn.btn-danger(href=`/admin/blog/delete/${item._id}`) Xóa
